@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');
html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  --accent-color: #25b0f5;
}

* {
  box-sizing: border-box;
}
