@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');
html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  --accent-color: #25b0f5;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Scratch;
  src: url('../fonts/Scratch.ttf');
}

* {
  --main: #25AFF4;
  --sec: #FDB825;
  --third: #FFFFFF;
}

html, body {
  background-color: var(--main);
}

/* testando estilos */
header {
  width: fit-content;
  margin: 2vh auto 2vh auto;
}

main {
  width: 90%;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
}

main div {
  margin: 1rem;
  padding: 1rem;
  width: 50%;
  text-align: justify;
  border: 2px solid var(--accent-color);
  border-radius: 15px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  margin-bottom: 1rem;
}

p {
  text-indent: 2.5em;
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}

/* testando containers */
.container {
  width: 75%;
  height: 4rem;
  overflow: hidden;
  border: 2px solid var(--third);
  border-radius: 10px;
  background-color: var(--sec);
  display: flex;
  flex-direction: column;
}

.container.active {
  height: fit-content;
  overflow: visible;
}

.arrow {
  align-self: flex-end;
  width: 10%;
  position: relative;
  top: 0;
  right: 0rem;
  z-index: 100;
}

.container p, .container h1 {
  position: relative;
  top: -1.25rem;
}
