@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
  font-family: Scratch;
  src: url('../fonts/Scratch.ttf');
}

html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  --main: #25B0F5;
  --sec: #fcb928;
  --secA: #fcb9281a;
  --third: #FFFFFF;
  text-align: justify;
}

* {
  box-sizing: border-box;
  transition: transform 0.5s;
  z-index: 50;
}

header {
  width: 100%;
  background-color: var(--main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
}

.spacing {
  margin-bottom: 1.5rem;
}

#ifrs {
  position: fixed;
  /* max-width: 13vw; */
  /* height: fit-content; */
  height: 9.6vh;
  margin-left: 1.5vw;
  margin-right: auto;
  filter: brightness(10);
}

#ifrs img {
  height: 9.6vh;
  display: block;
  position: absolute;
  user-select: none;
  content: url("../images/ifrslogo.png");
}

#logo {
  height: 12.8vh;
  margin: 1.6vh auto;
}

#logo img {
  display: block;
  height: 100%;
  user-select: none;
}

#quemsomos {
  position: fixed;
  text-decoration: none;
  color: white;
  font-size: 2vw;
  font-weight: bolder;
  margin-left: 84vw;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-box {
  width: 50%;
  height: 3.5rem;
  padding: 1rem;
  border-left: 3px solid var(--sec);
  background-color: var(--secA);
  border-radius: 0 10px 10px 0;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

/* .content-box:first-of-type {
  margin-top: 1.5rem;
} */

.content-box.active {
  height: fit-content;
  /* overflow-y: visible; */
  /* transform: translateX(50px); */
}

.content-box iframe {
  margin: 3% auto;
  width: 30vw;
  height: 16.875vw;
  /* height: max-content; */
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.7vw;
  width: fit-content;
  margin-bottom: 1rem;
  user-select: none;
}

#info h1 {
  font-size: 1.5vw;
  font-weight: bold;
}

.content-box.active h1 {
  transform: translateX(2.5rem);
}

.content-box img.arrow {
  margin-left: auto;
  margin-top: 1.2%;
  height: 2vh;
  user-select: none;
}

.content-box.active img.arrow {
  transform: rotate(0.5turn);
}

p {
  text-indent: 2.5em;
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}

@media screen and (max-width:1101px) {
  body {
    font-size: 1.5vw;
  }
  #ifrs {
    margin-left: 3.5vw;
  }
  #ifrs img {
    content: url("../images/ifrs-white.png");
  }
  #quemsomos {
    text-align: center;
    font-size: 4vw;
    line-height: 4vw;
    margin-left: 75vw;
  }
  .content-box {
    width: 70%;
  }
  h1 {
    font-size: 3vw;
  }
  #info h1 {
    font-size: 2.8vw;
  }
  .content-box iframe {
    width: 50vw;
    height: 28.125vw;
  }
}

@media screen and (max-width:751px) {
  body {
    font-size: 2vh;
  }
  #quemsomos {
    width: min-content;
    font-size: 5vw;
    font-weight: bolder;
    margin-left: 81vw;
  }
  .content-box {
    width: 80%;
  }
  h1 {
    font-size: 3.3vw;
    font-weight: bolder;
  }
  .content-box iframe {
    width: 70vw;
    height: 39.375vw;
  }
}
