@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
  font-family: Scratch;
  src: url('../fonts/Scratch.ttf');
}

html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  --main: #25B0F5;
  --sec: #fcb928;
  --third: #FFFFFF;
}

* {
  box-sizing: border-box;
  /* transition: all 0.5s; */
}

/* header {
  padding: 1rem;
  background-color: var(--main);
  display: flex;
  justify-content: space-between;
}


#logo {
  max-width: 250px;
} */

header {
  width: 100%;
  background-color: var(--main);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: fixed;
}

#ifrs {
  position: fixed;
  /* max-width: 13vw; */
  height: 9.6vh;
  margin-left: 1.5vw;
  filter: brightness(10);
}

#ifrs img {
  /* width: 100%; */
  height: 100%;
  display: block;
  user-select: none;
}

#logo {
  height: 12.8vh;
  margin: 1.6vh auto;
}

#logo img {
  display: block;
  height: 100%;
  user-select: none;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.content-box {
  width: 50%;
  height: 3.7rem;
  padding: 1rem;
  border: 2px solid var(--sec);
  border-radius: 15px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
  overflow: hidden;
}

.content-box.active {
  height: fit-content;
  overflow-y: visible;
}

.content-box iframe {
  margin: 3% auto;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  user-select: none;
}

p {
  text-indent: 2.5em;
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}
